body{
    background-color: rgb(28, 173, 173);
}
header{
font: normal 20pt Arial;
text-align: center;
color: white;
}
section{
    background-color: white;
    height: auto;
    width: 520px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.329);
    margin: auto;
    font: normal 15pt Arial;
    
    
}
div#res{
    font: normal 12pt Arial;
    
    

}
footer{
    text-align: center;
    color: white;
}