body{
background-color: rgb(17, 103, 184);
font: normal 15pt Arial;
}

section{
background-color: white;
border-radius:10px ;
padding: 15px;
width: 500px;
margin: auto;
box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.37);

}
select#tab {

    font-size: medium;
    background-color: rgb(17, 103, 184);
 border-radius: 10px;
 color: white
 ;

}

header{
    color: white;
    text-align: center;

}


footer{
    color: white;
    text-align: center;
    font-style: italic;

}